body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin:0;
    padding: 0;
}
header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float :left;

}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

.tech {
    color:rgb(85, 153, 216);
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

#showcase {
    min-height: 250px;
    text-align: center;
    color:white;
    background-color: #35424a
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 15px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color:white;
    background-color: #e8491d;
    text-align: center;
}

#myCanvas {
    border: 2px solid black;
    margin-top: 20px;
}

.container #myCanvas {
    float: left;
}

.container .form-1 {
    float: right;
    margin: 5px;
}

#shape-1 {
    color: #e8491d;
    font-weight: bold;
}
.form-1 div{
    padding: 5px;
}

.form-1 input, select {
    background-color: #b6c4ce;
    width: 70%;
    padding: 5px;
}

.form-1 input:focus, select:focus {
    background-color: #3e7ca5;
    color:white;
}